= '\n'
//= Head =

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' href='https://fonts.gstatic.com')

    title Ultimate Burgers

    meta(property='og:url' content='//')
    meta(property='og:site' content='//')
    meta(property='og:type' content='//')
    meta(property='og:title' content='//')
    meta(property='og:description' content='//')
    meta(property='og:image' content='//')

    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href= "//fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap" rel="stylesheet")

//= End head =
= '\n'
